pandas
numpy
natsort
pyBigWig
matplotlib
scipy
seaborn
sklearn
pysam
intervaltree
more_itertools
wandb
tqdm
tensorflow-gpu
tensorflow_probability
logomaker
umap-learn
https://github.com/p-koo/tfomics/tarball/master
h5py
